<launch>

	<!-- Arguments declaration -->
	<arg name="address" default="127.0.0.1:8123"/>
	<arg name="pipes"   default="[/bus, /dev]"/>
	<arg name="topics"  default="[/tid_ros2bus, /tid_ros2dev]"/>

	<group ns="tobiid">
		<rosparam param="address" subst_value="True">$(arg address)</rosparam>
		<rosparam param="pipes"   subst_value="True">$(arg pipes)</rosparam>
		<rosparam param="topics"  subst_value="True">$(arg topics)</rosparam>

		<node pkg="cnbiros_bci" type="tobi_interface_d" name="tobi_interface_d" output="screen" />
	</group>

</launch>
