<launch>

	<!-- Interface c -->
	<node pkg="cnbiros_bci" type="tobi_interface_c" name="tobi_interface_c" output="screen" >
		<rosparam param="cnbiloop">127.0.0.1:8123</rosparam>
		<rosparam param="frompipes">[/ctrl10, /ctrl11, /ctrl12]</rosparam>
		<rosparam param="topipes">[/ctrl13, /ctrl14, /ctrl15]</rosparam>
		<rosparam param="subtopics">[/tic_to_cnbiloop0, /tic_to_cnbiloop1, /tic_to_cnbiloop2]</rosparam>
	</node>	

</launch>
