<launch>
	<!-- Generic parameters: base_link -->
	<param name="hostname" value="192.168.1.3" />

	<!-- Generic parameters: Grid map -->
	<param name="grid_x" value="5.0"  type="double" />
	<param name="grid_y" value="5.0"  type="double" />
	<param name="grid_r" value="0.10" type="double" />
	<param name="grid_frame" value="base_link" />

	<!-- Generic parameters: nodes -->
	<param name="frequency" value="10.0" />

	<!-- Robotino base_link node -->
	<node name="robotino_node_base" pkg="cnbiros_robotino" type="robotino_node_base" output="screen" >
		<param name="topic" value="/base_velocity" />
	</node>
	
	<!-- Robotino odometry node -->
	<node name="robotino_node_odometry" pkg="cnbiros_robotino" type="robotino_node_odometry" output="screen" />
  	
	<group ns="robotino">
		<param name="hostname" value="192.168.1.3" />
		
		<!-- Robotino infrared node -->
		<group ns="infrared">
			<param name="frequency" value="10.0" />
			<param name="sensor_topic" value="/sensor_infrared" />
			<param name="decaytime" value="1.0" type="double" />
			<node name="robotino_node_infrared" pkg="cnbiros_robotino" type="robotino_node_infrared" output="screen" />
		</group>
	</group>

	<!-- Kinect scan -->
	<include file="$(find cnbiros_core)/launch/cnbiros_kinectscan.launch" />

	<!-- 
	<node name="robotino_node_infrared" pkg="cnbiros_robotino" type="robotino_node_infrared" output="screen" >
		<param name="publisher_topic" value="/sensor_infrared" />
		<param name="grid_layer" value="infrared" />
		<param name="decay" value="1" type="double"/>
	</node> -->
   
	<!-- Robotino fusion node -->
	<node name="robotino_node_fusion" pkg="cnbiros_robotino" type="robotino_node_fusion" output="screen" >
		<param name="topic" value="/sensors_fusion" />
		<param name="grid_layer" value="fusion" />
	</node>
	
	<!-- Robotino controller node -->
	<node name="robotino_node_controller" pkg="cnbiros_robotino" type="robotino_node_controller" output="screen" >
	</node>
	
	<!-- Launch rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find cnbiros_robotino)/rviz/grid_map.rviz" />

	<!--
  	<param name="robot_description" textfile="$(find robotino_description)/robotino.urdf" />

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	-->
</launch>
