<launch>

	<!-- Robotino base_link node -->
	<node name="robotino_node_base" pkg="cnbiros_robotino" type="robotino_node_base" output="screen" />
	
	<!-- Robotino odometry node -->
	<node name="robotino_node_odometry" pkg="cnbiros_robotino" type="robotino_node_odometry" output="screen" />
  	
	<!-- Robotino infrared node -->
	<node name="robotino_node_infrared" pkg="cnbiros_robotino" type="robotino_node_infrared" output="screen" />

	<!-- Kinect scan -->
	<include file="$(find cnbiros_core)/launch/cnbiros_kinectscan.launch" />

	<!-- Robotino fusion node -->
	<node name="robotino_node_fusion" pkg="cnbiros_robotino" type="robotino_node_fusion" output="screen" />
	
	<!-- Robotino controller node -->
	<node name="robotino_node_navigation" pkg="cnbiros_robotino" type="robotino_node_navigation" output="screen" >
	</node>

	<!-- Cnbi TobiId node -->
	<include file="$(find cnbiros_core)/launch/cnbiros_tobiid.launch" />
	
	<!-- Cnbi bci node -->
	<include file="$(find cnbiros_core)/launch/cnbiros_bci.launch" />

	<!-- Launch rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find cnbiros_robotino)/rviz/grid_map.rviz" />

</launch>
