<launch>

	<!-- Robotino stack -->
	<include file="$(find cnbiros_robotino)/launch/robotino_stack.launch">
		<arg name="hostname" value="192.168.1.3" />
	</include>

	<!-- Interface C -->
	<include file="$(find cnbiros_bci)/launch/tobi_interface_c.launch"/>

	<!-- Interface D -->
	<include file="$(find cnbiros_bci)/launch/tobi_interface_d.launch" />

	<!-- KinectScan -->
	<include file="$(find cnbiros_common)/launch/common_kinectscan.launch" />

	<!-- Forcefield repellors -->
	<include file="$(find cnbiros_forcefield)/launch/forcefield_repellors.launch" >
		<arg name="decay"  value="0.5"/>
		<arg name="topics" value="[/camera/scan, /sensor_infrared]"/>
		<arg name="types"  value="[1, 2]"/>
	</include>

	<!-- Launch rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find cnbiros_robotino)/rviz/grid_map.rviz" />

</launch>
